node-red/sensortag-to-amqp.json
[
    {
        "id": "2032ef14.e07e6",
        "type": "tab",
        "label": "SensorTagToAmqp",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4bf62a50.0332d4",
        "type": "amqp-sender",
        "z": "2032ef14.e07e6",
        "endpoint": "f9ee9f58.23cda",
        "address": "iot-temperature",
        "autosettle": true,
        "dynamic": false,
        "sndsettlemode": 2,
        "rcvsettlemode": 0,
        "durable": 0,
        "expirypolicy": "session-end",
        "name": "",
        "x": 1030,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ba771c84.f90f",
        "type": "inject",
        "z": "2032ef14.e07e6",
        "name": "",
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "47204b17.228084"
            ]
        ]
    },
    {
        "id": "47204b17.228084",
        "type": "function",
        "z": "2032ef14.e07e6",
        "name": "toAMQPmessage",
        "func": "msg.payload = { body: msg.payload }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "4bf62a50.0332d4"
            ]
        ]
    },
    {
        "id": "37bf4c3b.5f9324",
        "type": "sensorTag",
        "z": "2032ef14.e07e6",
        "name": "",
        "topic": "sensorTag",
        "uuid": "",
        "temperature": false,
        "humidity": true,
        "pressure": false,
        "magnetometer": false,
        "accelerometer": false,
        "gyroscope": false,
        "keys": false,
        "luxometer": false,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "df80157b.23d038",
                "9d83e51.e99ef18"
            ]
        ]
    },
    {
        "id": "df80157b.23d038",
        "type": "debug",
        "z": "2032ef14.e07e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "9d83e51.e99ef18",
        "type": "function",
        "z": "2032ef14.e07e6",
        "name": "toAMQPmessage",
        "func": "msg.payload = { \n    application_properties: { deviceid: 'my-device-id'},\n    body: msg.payload.temperature.toString() \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "4bf62a50.0332d4"
            ]
        ]
    },
    {
        "id": "56c650c9.0812c",
        "type": "amqp-receiver",
        "z": "2032ef14.e07e6",
        "endpoint": "f9ee9f58.23cda",
        "address": "control",
        "autoaccept": true,
        "creditwindow": 100,
        "dynamic": false,
        "sndsettlemode": 2,
        "rcvsettlemode": 0,
        "durable": 0,
        "expirypolicy": "session-end",
        "name": "",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "23445b2e.1e2414"
            ]
        ]
    },
    {
        "id": "23445b2e.1e2414",
        "type": "debug",
        "z": "2032ef14.e07e6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.body",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "f9ee9f58.23cda",
        "type": "amqp-endpoint",
        "z": "",
        "host": "qdrouterd-myproject.192.168.42.53.nip.io",
        "port": "443",
        "username": "test",
        "password": "",
        "container_id": "",
        "tls": "7dc20d39.d7a894",
        "usetls": true,
        "rejectUnauthorized": false,
        "name": ""
    },
    {
        "id": "7dc20d39.d7a894",
        "type": "tls-config",
        "z": "",
        "name": "test-tls-node",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca-cert.pem",
        "servername": "",
        "verifyservercert": false
    }
]